<head>
  <link rel="stylesheet" type="text/css" href="../../../static/reportes/styles.css" />
</head>
{% extends 'base.html' %}

{% block content %}
<h1>Reportes</h1>

<a class="reporte-a" href="../1/">Reporte 1: Álbumes más recientes de la última semana</a>
<a class="reporte-a" href="../2/">Reporte 2: Artistas con popularidad creciente en los últimos tres meses</a>
<a class="reporte-a" href="../3/">Reporte 3: Cantidad de nuevas suscripciones mensuales durante los últimos seis meses</a>
<a class="reporte-a" href="../4/">Reporte 4: Artistas con mayor producción musical</a>
<a class="reporte-a" href="../5/">Reporte 5: Generos mas populares</a>
<a class="reporte-a" href="../6/">Reporte 6:  Los usuario que mas reproducen canciones</a>

{% endblock content%}
